@import url('https://fonts.googleapis.com/css?family=Raleway:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:500&display=swap');

/* Estilos generales y reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 6px;
    transition: all .3s ease;
}

::-webkit-scrollbar-thumb {
    background: #ff8200;
    border-radius: 6px;
    transition: all .3s ease;
}

::-webkit-scrollbar-track {
    background: white;
    border-radius: 6px;
}

html, body {
    background: white;
}

body {
    user-select: none;
    overflow-x: hidden;
    width: 100%;
}

/* Clase color para texto en naranja */
.color {
    color: #ff8200;
    transition: all .3s ease;
}

/* Encabezado */
#header {
    background: white;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: block;
}

.header-content {
    height: 100vh;
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    color: #202020;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    flex-direction: column;
    font-size: 50px;
    z-index: 1;
}

.header-content-box {
    z-index: 2;
    text-align: center;
}

.header-content .firstline {
    font-weight: 700;
    font-family: Poppins, sans-serif;
    font-size: 65px;
    text-align: left;
    margin-left: 15%;
    opacity: 0;
    transform: translateX(-100%);
    animation: slide-in-left 1.5s forwards 0.3s;
}

.header-content .secondline {
    font-size: 30px;
    padding-top: 15px;
    font-weight: 550;
    color: #202020;
    text-align: left;
    margin-left: 15%;
    opacity: 0;
    animation: slide-in-left 0.3s forwards 1.5s;
}

.txt-rotate > .wrap {
    border-right: 0.08em solid #666;
}

@keyframes slide-in-left {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.header-image {
    float: right;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-right: 15%;
    animation: scale 1.5s ease;
}

.header-image img {
    height: 100vh;
}

@keyframes scale {
    0% {
        transform: scale(0.6);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Navegación */
#navigation-content {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 5;
    background-color: #202020;
    transform: translateY(-200%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#navigation-bar {
    position: fixed;
    height: 100px;
    width: 100%;
    z-index: 2;
    padding: 10px;
    background: transparent;
    overflow: hidden;
    opacity: 0;
}

.menubar, .navigation-close, .logo img, #navigation-bar img {
    transition: all .3s ease;
}

.menubar {
    position: absolute;
    right: 4%;
    top: 40%;
    cursor: pointer;
    opacity: .8;
}

.menubar span {
    position: relative;
    background-color: transparent;
    height: 2px;
    width: 35px;
    display: block;
    margin: 6px;
    border-radius: 20px;
}

.menubar span::before {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #ff8200;
    transition: all .5s ease;
}

.menubar .first-span::before {
    width: 50%;
}

.menubar .second-span::before {
    width: 75%;
}

.menubar .third-span::before {
    width: 100%;
}

.menubar:hover span::before {
    width: 100%;
}

.menubar:hover {
    opacity: 1;
}

.close-first, .close-second {
    height: 2px;
    width: 35px;
    background-color: #ff8200;
    display: block;
    margin: 4px;
    cursor: pointer;
    padding: 1px;
    border-radius: 20px;
}

.close-first {
    transform: rotate(45deg);
}

.close-second {
    transform: rotate(-45deg);
}

.navigation-close {
    position: absolute;
    top: 6%;
    right: 4%;
    padding: 10px;
    cursor: pointer;
    opacity: .8;
}

.navigation-close:hover {
    opacity: 1;
    transform: rotate(90deg);
}

#navigation-bar img {
    height: 35px;
    position: absolute;
    top: 40%;
    left: 4%;
    opacity: .8;
    cursor: pointer;
}

.logo img {
    height: 35px;
    position: absolute;
    top: 4%;
    left: 4%;
    opacity: .8;
    cursor: pointer;
}

.logo img:hover, #navigation-bar img:hover {
    opacity: 1;
    transform: scale(1.1);
}

.navigation-links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Poppins, sans-serif;
    z-index: 3;
}

.navigation-links a {
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 40px;
    opacity: 1;
    transition: all .3s ease;
    z-index: 3;
}

.navigation-links a:hover {
    color: #ff8200;
}

.navigation-links a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    font-weight: 300;
    font-family: Monoton, sans-serif;
    color: white;
    z-index: 1;
    pointer-events: none;
    opacity: 0;
    letter-spacing: 100px;
    transition: all .3s ease;
}

.navigation-links a:hover::before {
    content: attr(data-text);
    opacity: 0.1;
    letter-spacing: 10px;
}

/* Sección "Sobre mí" */
#about {
    background-color: white;
    display: none;
    width: 100%;
    height: auto;
    overflow: hidden;
}

#about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #202020;
    justify-content: center;
    height: auto;
    width: 100%;
}

.about-main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: auto;
    flex-direction: row;
    padding: 2%;
}

.about-first-paragraph {
    color: #202020;
    font-size: 20px;
    font-family: Poppins, sans-serif;
    width: 50%;
    padding: 30px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
}

.about-first-line {
    font-size: 35px;
    opacity: 1;
    margin-bottom: 5px;
}

.about-second-line {
    opacity: .8;
    font-size: 18px;
    font-weight: 200;
}

.cv {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.about-img img {
    width: auto;
    height: 340px;
    margin: 30px;
}

/* Sección de Servicios */
#services {
    position: relative;
}

.services-content {
    height: auto;
    width: 100%;
    overflow: hidden;
    text-align: center;
    padding: 2.5%;
    padding-bottom: 0;
    padding-top: 0;
}

.service {
    height: 335px;
    width: 28%;
    margin: 2%;
    background-color: transparent;
    display: inline-block;
    box-shadow: 0px 0px 15px rgb(32, 32, 32, 0.2);
    position: relative;
    text-align: center;
    z-index: 2;
    border-radius: 5px;
    overflow: hidden;
}

.service-img {
    text-align: center;
}

.service-img img {
    display: inline-block;
    z-index: 2;
    position: relative;
    margin: 25px;
    border-radius: 5%;
    padding: 10px;
    border: 0px solid #ff8200;
    background: #ff8200;
    box-shadow: 0px 0px 0px 0px #ff8200;
    height: 100px;
    transition: all .7s ease;
}

.service:hover .service-img img {
    box-shadow: 0px 0px 0px 400px #ff8200;
}

.service-description {
    font-family: Poppins, sans-serif;
    color: #202020;
    position: relative;
    display: inline-block;
    z-index: 2;
}

.service-description h2 {
    padding: 10px;
    margin: 5px;
    font-weight: 200;
    font-size: 25px;
}

.service-description p {
    padding: 10px;
    font-weight: 200;
    font-size: 16px;
    opacity: .8;
}

/* Sección de Habilidades */
#skills {
    width: 100%;
    height: auto;
}

.skills-header {
    height: auto;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    font-family: Raleway, sans-serif;
    color: #202020;
    padding-bottom: 20px;
    padding-top: 45px;
    font-weight: 900;
}

.skills-content {
    height: auto;
    width: 100%;
    margin-bottom: 50px;
    text-align: center;
}

.skill-html {
    height: auto;
    width: 45%;
    position: relative;
    font-family: Poppins, sans-serif;
    color: #202020;
    display: inline-block;
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
}

.skill-text {
    width: 80%;
    position: relative;
    height: 50px;
}

.html {
    display: inline-block;
    position: absolute;
    left: 5%;
    top: 30%;
}

.html-prog {
    width: 100%;
    height: 30px;
    border-radius: 30px;
    background: white;
    box-shadow: 0px 0px 15px rgb(32, 32, 32, 0.2);
    position: relative;
    overflow: hidden;
}

.percentage-text {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #202020;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 16px;
    z-index: 2;
}

.inventor-progress,
.rhino-progress,
.keyshot-progress,
.autocad-progress,
.indesign-progress,
.photoshop-progress {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
    border-radius: 20px;
    background: #ff8200;
}

.inventor-progress {
    width: 95%;
}

.rhino-progress {
    width: 90%;
}

.keyshot-progress {
    width: 95%;
}

.autocad-progress {
    width: 80%;
}

.indesign-progress {
    width: 80%;
}

.photoshop-progress {
    width: 80%;
}

/* Sección de Portafolio */
#portfolio {
    display: none;
    height: auto;
    overflow-x: hidden;
    background-color: white;
    width: 100%;
    color: #202020;
}

/* Estilo para la sección de portafolio */
#portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
    justify-items: center;
    padding-left: 70px;
    padding-right: 70px;
}

.portfolio-item {
    width: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin: 0;
    z-index: 3;
}

.portfolio-image {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin: 0;
}

.portfolio-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
    margin: 0;
}

.portfolio-item:hover .portfolio-image img {
    transform: scale(1.1);
}

/* Estilo para los filtros */
#portfolio-filters {
    text-align: center;
    z-index: 4;
    position: relative; 
    margin-top: 30px;
    margin-bottom: 30px;
}

.filter-button {
    color: #202020;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-family: Poppins, sans-serif;
    transition: all 0.3s ease;
    background-color: transparent;
    font-weight: 300;
    font-size: 18px;
    opacity: 0.8;
}

.filter-button:hover,
.filter-button.active {
    color: #ff8200;
    opacity: 1;
}

/* Estilo para el popup */
.popup {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.popup-content {
    background-color: white;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 700px;
    height: 80%;
    overflow-y: auto;
    position: relative;
}

.popup-content img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.popup .close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

.popup .close:hover,
.popup .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilo y animación de los botones */
.button a {
    text-decoration: none;
}

.button button {
    font-size: 18px;
    opacity: .8;
    font-family: Poppins, sans-serif;
    font-weight: 200;
    padding: 10px 20px;
    background: transparent;
    color: #ff8200;
    outline: none;
    margin: 20px;
    border: 1.5px solid #ff8200;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: all .6s ease;
    z-index: 4;
}

.button button span.index {
    position: relative; 
    z-index: 2; 
}

.button button::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 200%;
    transform: rotate(-10deg) translateY(-25px);
    top: 0;
    left: 0;
    z-index: 1;
    background: #ff8200;
    transition: all .6s ease;
}

.button button:hover {
    opacity: 1;
    color: white; 
}

.button button:hover span.index {
    color: white; 
}

.button button:hover::before {
    width: 120%;
}

/* Sección de Contacto */
#contact {
    display: none;
    min-height: 100vh;
    text-align: center;
    position: relative;
    background: url('Fotos/Foto_Contact.png') no-repeat left bottom;
    background-size: contain;
}

.contact-content {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
}

.contact-info {
    display: flex;
    justify-content: left;
    margin-left: 60%;
}

.contect-info-content-line {
    height: auto;
    padding: 10px;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
}

.contect-info-content-line img {
    margin-right: 10px;
}

.contact-info-icon-text {
    color: #202020;
    padding: 15px;
    font-family: Poppins, sans-serif;
    display: inline-block;
}

.contact-info-icon-text h6 {
    font-size: 18px;
    opacity: 1;
}

.contact-info-icon-text p {
    font-size: 15px;
    opacity: .8;
}

.icon {
    height: 30px;
    opacity: .8;
}

/* Clase para eliminar el estilo de hipervínculo */
.no-link-style {
    text-decoration: none;
    color: inherit;
}

/* Cursor personalizado */
.cursor {
    height: 10px;
    width: 10px;
    display: block;
    border-radius: 50%;
    border: 1px solid transparent;
    background-color: #ff8200;
    pointer-events: none;
    position: fixed;
    top: -5px;
    left: -5px;
    z-index: 9999;
    transition: width 0.3s, height 0.3s, background-color 0.3s, border 0.3s, top 0.3s, left 0.3s;
}

.cursor.hover {
    width: 50px;
    height: 50px;
    top: -25px;
    left: -25px;
    background-color: transparent;
    border: 2px solid #ff8200;
}

/* Encabezados y pie de página */
.todos-header {
    height: auto;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    font-family: Poppins, sans-serif;
    color: #202020;
    padding-top: 90px;
    font-weight: 900;
}

.header-caption {
    opacity: .8;
    display: block;
    font-size: 20px;
    font-family: Raleway, sans-serif;
    padding: 8px;
    padding-top: 10px;
    color: #202020;
    font-weight: 550;
}

.footer {
    background: white;
    width: 100%;
    color: #202020;
    display: flex;
    flex-direction: row;
    font-family: Raleway, sans-serif;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.footer .footer-text {
    position: relative;
    display: inline;
    font-size: 16px;
    font-weight: 300;
    opacity: 1;
}

.images {
    margin-right: 2px;
}

/* Slash animado */
.slash {
    animation-name: animateslash;
    animation-duration: .8s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes animateslash {
    0% {
        opacity: 1;
        z-index: 2;
    }
    100% {
        opacity: 0;
        z-index: 0;
    }
}

/* Estilos para pantallas de tablet */
@media only screen and (max-width: 768px) {
    #header {
        font-size: 18px;
    }
    .header-content {
        font-size: 30px;
    }
    .header-content .firstline {
        font-size: 50px;
    }
    .header-content .secondline {
        font-size: 20px;
    }
    .about-main {
        flex-direction: column;
    }
    .about-first-paragraph, .about-img {
        width: 100%;
        text-align: center;
    }
    .about-img img {
        height: auto;
        width: 100%;
    }
    .service {
        width: 80%;
    }
    .skill-html {
        width: 80%;
    }
    .portfolio-item {
        width: 100%;
    }
    .contact-info {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }
    .contact-info-icon-text {
        text-align: center;
    }
    .cursor {
        display: none;
    }
}

/* Estilos para pantallas de móvil */
@media only screen and (max-width: 480px) {
    #header {
        font-size: 16px;
    }
    .header-content {
        font-size: 25px;
    }
    .header-content .firstline {
        font-size: 40px;
    }
    .header-content .secondline {
        font-size: 18px;
    }
    .about-main {
        flex-direction: column;
    }
    .about-first-paragraph, .about-img {
        width: 100%;
        text-align: center;
    }
    .about-img img {
        height: auto;
        width: 100%;
    }
    .service {
        width: 100%;
    }
    .skill-html {
        width: 100%;
    }
    .portfolio-item {
        width: 100%;
    }
    .contact-info {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }
    .contact-info-icon-text {
        text-align: center;
    }
    .cursor {
        display: none;
    }
}
